@font-face {
    font-family: "Sans Serif";
    src: url(../fonts/SansSerif/static/Inter-Bold.ttf);
    font-weight: 700;

} 
@font-face {
    font-family: "Sans Serif";
    src: url(../fonts/SansSerif/static/Inter-Regular.ttf);
    font-weight: 400;

} 
@font-face {
    font-family: "Serif";
    src: url(../fonts/Serif/static/Lora-Regular.ttf);
    font-weight: 400;
    
} 
@font-face {
    font-family: "Serif";
    src: url(../fonts/Serif/static/Lora-Bold.ttf);
    font-weight: 700;
    
} 
@font-face {
    font-family: "Mono";
    src: url(../fonts/Mono/static/Inconsolata-Regular.ttf);
    font-weight: 400;
    
} 
@font-face {
    font-family: "Mono";
    src: url(../fonts/Mono/static/Inconsolata-Bold.ttf);
    font-weight: 700;
    
}